
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: mistyrose;
}

.jumbotron {
	text-align: center;
	background: lightskyblue;
}

.motto {
	font-family: 'Patua One', cursive;
	color: crimson;
}

.card-body {
	font-size: 25px;
}

img {
	height: 50%;
	width: 50%;
}

.randfloof {
	font-family: 'Berkshire Swash', cursive;
	font-size: 45px;
	color: crimson;
}

.searchfloof {
	font-family: 'Berkshire Swash', cursive;
	font-size: 45px;
	color: crimson;
}

th {
	font-size: 25px;
	color: crimson;
	font-family: 'Berkshire Swash', cursive;
}

td {
	font-size: 20px;
	color: crimson;
	font-family: 'Patua One', cursive;
}

hr {
	padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
	
}

footer {
	text-align: center;
	color: crimson;
}

.randPetName {
	color: crimson;
	font-size: 25px;
	font-family: 'Berkshire Swash', cursive;
	text-align: center;

}
